{% comment %} <!dOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Near Places</title>
</head>
<link rel="stylesheet" href={% static "css/explorenearplaces.css" %} />

<body>
      <h2 class="section__title">Start Your Journey TO Explore Ahmedabad</h2>
      <p class="section__subtitle">The most visiting places in Ahmedabad</p>
  {% for place in places_with_images %}
  <section class="journey__container">
    <div class="section__container">
      <div class="journey__grid">
        <div class="country__card">
          <img src={{place.image_url}} alt="{{place.place_name}}" />
          <div class="country__name">
            <span>Place-Name:{{place.place_name}}</span>
            <span>{{place.description}}</span>
            <span>{{place.address}}</span>
            <span>{{place.pin_code}}</span>
            <span>{{place.official_site_link}}</span>
            <span>{{place.ticket_price}}</span>
            <span>{{place.open_time}}</span>
            <span>{{place.close_time}}</span>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
</body>
</html>

 {% endcomment %}


<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href={% static "css/about.css" %} />
  <link rel="stylesheet" href="https://pyscript.net/releases/2024.1.1/core.css" />
  <script type="module" src="https://pyscript.net/releases/2024.1.1/core.js"></script>
  <title>About Page</title>
</head>
<body>
  
  <div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        Tour_With_Me
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'explorenearplaces' %}" target="_blank">Explorenearplaces</a>
      <a href="{% url 'blog' %}" target="_blank">blog</a>
      <a href="{% url 'about' %}" target="_blank">About</a>
      <a href="{% url 'login'%}" target="_blank">Login</a>
    </div>
  </div>
{% comment %} -----Header----- {% endcomment %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Near Places</title>
    <link rel="stylesheet" href="{% static 'css/explorenearplaces.css' %}">
</head>
<body>
    

    <div class="journey__container">
        <div class="section__container">
          <h2 class="section__title">Start Your Journey TO Explore Ahmedabad</h2>
          <p class="section__subtitle">The most visiting places in Ahmedabad</p>
            <div class="journey__grid">
                {% for place in places_with_images %}
                <div class="country__card">
                    <img src="{{ place.image_url }}" alt="{{ place.place_name }}" />
                    <div class="country__name">
                        <span><b>Place Name:</b> {{ place.place_name }}</span>
                        <span><b>Description:</b> {{ place.description }}</span>
                        <span><b>Address:</b> {{ place.address }}</span>
                        <span><b>Pin Code:</b> {{ place.pin_code }}</span>
                        <span><b>Official Site Link:</b>http://{{ place.place_name}}.com</span>
                        <span><b>Ticket Price:</b> {{ place.ticket_price }}</span>
                        <span><b>Open Time:</b> {{ place.open_time }}</span>
                        <span><b>Close Time:</b> {{ place.close_time }}</span>
                        <span>
                          <form action="{% url 'add_to_cart' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Add to Cart</button>
                          </form>
                        </span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>


{% comment %} -----Footer----- {% endcomment %}

<footer>
  <div class="section__container">
    <div class="social__icons">
      <span><i class="ri-facebook-fill"></i></span>
      <span><i class="ri-twitter-fill"></i></span>
      <span><i class="ri-instagram-line"></i></span>
      <span><i class="ri-linkedin-fill"></i></span>
    </div>
    <p>
      Travel makes one modest. You see what a tiny place you occupy in the
      Ahmedabad.
    </p>
  </div>
</footer>
</body>
</html>