<!DOCTYPE html>
<html lang="en">
    {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href={% static "css/style.css" %} />
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.1.1/core.css" />
    <script type="module" src="https://pyscript.net/releases/2024.1.1/core.js"></script>
    <title>Explore Ahmedabad</title>
  </head>
  <body>
    
    <div class="nav">
      <input type="checkbox" id="nav-check">
      <div class="nav-header">
        <div class="nav-title">
          Tour_With_Me
        </div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
      
      <div class="nav-links">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'explorenearplaces' %}" target="_blank">Places</a>
        <a href="{% url 'blog' %}" target="_blank">Blog</a>
        <a href="{% url 'about' %}" target="_blank">About</a>
        <a href="{% url 'login'%}" target="_blank">Login</a>
        <a href="{% url 'cart'%}" target="_blank">Cart</a>
      </div>
    </div>  
    <header>
      <div class="section__container">
        <div class="header__content">
          <p>
            Embark on a journey of a lifetime and explore the Ahmedabad's most
            breathtaking destinations with our expert travel advice. From exotic
            beaches to cultural wonders, we've got you covered with our
            comprehensive travel guides and insider tips.
          </p>
          <a href="https://en.wikipedia.org/wiki/Ahmedabad" target="_blank"> <button>Read more</button></a>
        </div>
      </div>
    </header>

    <section class="journey__container">
      <div class="section__container">
        <h2 class="section__title">Start Your Journey TO Explore Ahmedabad</h2>
        <p class="section__subtitle">The most visiting places in Ahmedabad</p>
        <div class="journey__grid">
          <div class="country__card">
            <img src={% static "img/country-1.jpg" %} alt="country" />
            <div class="country__name">
              <i>
                <a class="ri-map-pin-2-fill" href="https://www.google.com/maps/place/Kankaria+Lake/@23.0062151,72.6011873,17z/data=!3m1!4b1!4m6!3m5!1s0x395e85c51048cefb:0x777f51782a8b7a1a!8m2!3d23.0062573!4d72.6025503!16zL20vMDVmcHFs?entry=ttu" target="_blank"></a>
              </i>
              <span>Kankaria Lake</span>
            </div>
          </div>
          <div class="country__card">
            <img src={% static "img/country-2.jpg" %} alt="country" />
            <div class="country__name">
              <i>
              <a class="ri-map-pin-2-fill" href="https://www.google.com/maps/search/Sabarmati+Riverfront/@23.0365208,72.5612145,14z/data=!3m1!4b1?entry=ttu" target="_blank"></a>
            </i>
              <span>Sabarmati Riverfront</span>
            </div>
          </div>
          <div class="country__card">
            <img src={% static "img/country-3.jpg" %} alt="country" />
            <div class="country__name">
              <i>
                <a class="ri-map-pin-2-fill" href="https://www.google.com/maps/place/Science+City,+Bhuyang+Dev,+Sola,+Ahmedabad,+Gujarat/@23.0716878,72.5159636,17z/data=!3m1!4b1!4m6!3m5!1s0x395e9cae72a11ff9:0x61f53a71c0a19197!8m2!3d23.0714235!4d72.5167854!16s%2Fg%2F11fy_k9gzw?entry=ttu"target="_blank"></a>
              </i>
              <span>Science City</span>
            </div>
          </div>
          <div class="country__card">
            <img src={% static "img/country-4.jpg" %} alt="country" />
            <div class="country__name">
              <i>
                <a class="ri-map-pin-2-fill" href="https://www.google.com/maps/place/Sidi+Saiyyed+Mosque/@23.0270812,72.5784603,17z/data=!3m1!4b1!4m6!3m5!1s0x395e844fc79401b5:0x2d62f388bec1fa89!8m2!3d23.0270812!4d72.5810352!16zL20vMGQwd3Ns?entry=ttu" target="_blank"></a>
              </i>
              <span>Sidi Saiyyed Mosque</span>
            </div>
          </div>
          <div class="country__card">
            <img src={% static "img/country-5.jpg " %} alt="country" />
            <div class="country__name">
              <i>
                <a class="ri-map-pin-2-fill" href="https://www.google.com/maps/place/Law+Garden/@23.0272996,72.5581623,17z/data=!3m1!4b1!4m6!3m5!1s0x395e84fa08cd4e4b:0x1a4593ed88b2e66c!8m2!3d23.0272996!4d72.5607372!16zL20vMGQ1Y2ty?entry=ttu" target="_blank"></a>
              </i>
              <span>Law Garden</span>
            </div>
          </div>
          <div class="country__card">
            <img src={% static "img/country-6.jpg" %} alt="country" />
            <div class="country__name">
              <i>
                <a class="ri-map-pin-2-fill" href="https://www.google.com/maps/place/Sardar+Vallabhbhai+Patel+National+Memorial/@23.0610621,72.5884238,17z/data=!3m1!4b1!4m6!3m5!1s0x395e855fa2d657e1:0xedd3cea00f57b696!8m2!3d23.0610621!4d72.5909987!16zL20vMGNranA3?entry=ttu" target="_blank"></a>
              </i>
              <span>Sardar Vallabhbhai Patel National Memorial</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="banner__container">
      <div class="section__container">
        <div class="banner__content">
          <h2>Commercial Capital of Gujarat</h2>
          <p>
            Ahmedabad is the largest city in the State of Gujarat.The City established itself as the home of a booming textile industry, which earned the nickname “The Manchester of India”. With the creation of the state of Gujarat in 1960, Ahmedabad gained prominence as the political and commercial capital of the state.
          </p>
          <a href="https://ahmedabad.nic.in/history/#:~:text=The%20City%20established%20itself%20as,commercial%20capital%20of%20the%20state." target="_blank"><button>See More</button></a>
        </div>
      </div>
    </section>

    <section class="display__container">
      <div class="section__container">
        <h2 class="section__title">Why Choose Ahmedabad</h2>
        <p class="section__subtitle">
          The gladdest moment in human life, is a departure into Ahmedabad lands.
        </p>
        <div class="display__grid">
          <div class="display__card grid-1">
            <img src={% static "img/grid-1.jpg" %} alt="grid" />
          </div>
          <div class="display__card">
            <i class="ri-earth-line"></i>
            <h4>Travel to Ahmedabad</h4>
            <p>Fuel your passion for adventure and discover new horizons</p>
          </div>
          <div class="display__card">
            <img src={% static "img/grid-2.jpg " %} alt="grid" />
          </div>
          <div class="display__card">
            <img src={% static "img/grid-3.jpg" %} alt="grid" />
          </div>
          <div class="display__card">
            <i class="ri-road-map-line"></i>
            <h4>Beautiful Places</h4>
            <p>Uncover the Ahmedabad's most breathtakingly beautiful places</p>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="section__container">
        <div class="social__icons">
          <span><i class="ri-facebook-fill"></i></span>
          <span><i class="ri-twitter-fill"></i></span>
          <span><i class="ri-instagram-line"></i></span>
          <span><i class="ri-linkedin-fill"></i></span>
        </div>
        <p>
          Travel makes one modest. You see what a tiny place you occupy in the
          Ahmedabad.
        </p>
      </div>
    </footer>
  </body>
</html>
